body {
  // background-color: #fff;
  // width: 100vw;
  // height: 100vh;
  background: linear-gradient(132deg, #ffffff, #fdebf3, #fffef0, #d5e9df, #ffffff);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;  

  color: #333;
  font-family: 'VT323', monospace;
  // font-size: 14px;
  // line-height: 18px;

}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

// LOGO effet de ouff 
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }
  33.3% {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  49.95% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  66.6% {
    -webkit-transform: skew(2deg);
    transform: skew(2deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-4deg);
    transform: skew(-4deg);
  }
  33.3% {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  49.95% {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
// fin de l'effet hover sur le logo

.wrapper {
  // padding-top: 10px;
  // padding-right: 50px;
  // padding-bottom: 0px;
  // padding-left: 50px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.center {
  padding-left: 10px;
  padding-right: 10px;
  // padding-bottom: 0px;
  border: 1px solid black;
}
.center:hover {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.left
.right {
  width: 60px;
  height: 60px;
}

.fa:hover, .fas:hover {
  // opacity: 0.8;
  color: #ff00ff;
}

.fa, .fas {
  // opacity: 0.8;
  font-size: 15px;
}

.footer, .logo-rs{
  padding: 10px;
  display: flex;
  align-items: center;
  list-style: none;
  color: black;
  justify-content: space-between;
}
h2 {
  font-size: 15px;
}

// p, ol, ul, td {
//   font-family: 'VT323', monospace;
//   font-size: 14px;
//   // line-height: 18px;
// }

// pre {
//   // background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

// th {
//   padding-bottom: 5px;
// }

// td {
//   padding: 0 5px 7px;
// }

// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

//  









// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

// th {
//   padding-bottom: 5px;
// }

// td {
//   padding: 0 5px 7px;
// }

// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

// #notice {
//   color: green;
// }

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;

//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px -7px 0;
//     background-color: #c00;
//     color: #fff;
//   }

//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }

// label {
//   display: block;
// }
