<div class="wrapper">

  <div class="left">
    <span class="hvr-wobble-skew"> 
      <a href="root_path"><%= image_tag("logo.png", alt: "manike-neko", class: "logo", size: 9*9) %></a>
    </span>
  </div>
  <div class="center">    
    <h2>Catégorie</h2>
  </div>
  <div class="right">
    <i class="fas fa-sliders-h"></i>
    <i class="fas fa-sign-in-alt"></i>
    <i class="fas fa-shopping-cart"></i>


<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  	Catégorie
	</button> -->
  </div>
</div>